<head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"> -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


</head>

<!-- Shop Start -->
  <div class="container-fluid">
      <div class="row px-xl-5">
          <div class="col-lg-3 col-md-4">
              <!-- Price Start -->
              <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Category</span></h5>
              <div class="bg-light p-4 mb-30">
                  <form>
                      <% if(categories) {%>
                     <% categories.forEach((element,index)=>{ %>
                      <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                          <input type="checkbox" class="custom-control-input" id="categoryMobile<%= index %>" name="categories" value="<%= element._id %>"
                          onclick="toggleFilterProducts('<%= element._id %>', this); handleCheckboxChange();">
                         
                          <label class="custom-control-label" for="categoryMobile<%= index %>"><%= element.categoryName %></label>
                          <!-- <span class="badge border font-weight-normal">samsung</span> -->
                      </div>
                      <% }) %>

                      <% }else{ %>
                      <p>no categories found</p>
                      <% } %>
                  </form>
              </div>

              <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Brands</span></h5>
              <div class="bg-light p-4 mb-30">
                  <form>
                      <% if(subcategories) {%>
                     <% subcategories.forEach((element,index)=>{ %>
                      <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                          <input class="custom-control-input" type="checkbox" name="subcategories" value="<%= element._id %>"
                            id="subcategory<%= index %>" onclick="handleSubcategoryCheckboxClick(this); handleCheckboxChange();">
          
                          <label class="custom-control-label" for="subcategory<%= index %>">
                            <%= element.sub_category %>
                          </label>
                        </div>
                      <% }) %>

                      <% }else{ %>
                      <p>no brands found</p>
                      <% } %>
                  </form>
              </div>
              
              
          </div>

          


          <div class="col-lg-9 col-md-8">
              <div id="response-container">

              <div id="product-container" class="row pb-3">
                
                  <% products.forEach((item) => { %>
                      <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="product-item bg-light mb-4">
                          <div class="product-img position-relative overflow-hidden d-flex align-items-center justify-content-center" style="height: 330px; padding: 10px;">
                            <img class="img-fluid product-image" src="/uploads/<%= item.images[0] %>" alt="" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                            <div class="product-action">
                              <a class="btn btn-outline-dark btn-square"  onclick="addToCart('<%=item._id %>','<%= item.stockQuantity %>')"><i class="fa fa-shopping-cart"></i></a>
                              <a class="btn btn-outline-dark btn-square"  onclick="addToWishlist(event,'<%= item._id %>')"><i class="far fa-heart"></i></a>
                              <a class="btn btn-outline-dark btn-square" href="/product-view/<%=item._id %>"><i class="fa fa-search"></i></a>
                            </div>
                          </div>
                          <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href=""><%= item.name %></a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                              <h5>&#8377;<%= item.price %></h5>
                              <h6 class="text-muted ml-2"><del>&#8377;<%= item.mrp %></del></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                              <%= item.offer %>
                          </div>
                          <% if(item.stockQuantity <= 10){ %>
                          <div class="d-flex align-items-center justify-content-center mb-1 " style="color:rgb(220, 119, 61)">
                             only <%= item.stockQuantity %> left in stock
                          </div>
                          <% }else{ %>
                              <div class="d-flex align-items-center justify-content-center mb-1">  <%= item.stockQuantity %> items left in stock </div>
                              <% } %>
                          </div>
                          
                        </div>
                      </div>
                    <% }); %>
                    
                  <div class="col-12">
                      <nav>
                        <ul class="pagination justify-content-center">
                          <% if(pageNum >1) {%>
                          <li class="page-item "><a class="page-link" href="/shop?page=<%= pageNum -1 %>">Previous</span></a></li>
                          <% } %>
                          <% for (let i = 1; i <=pages; i++) {%>
                          <li class="page-item <%= i === pageNum ? 'active' : '' %>">
                              <a class="page-link" href="/shop?page=<%= i %>">
                                  <%= i %></a></li>
                          <% } %>
                          
                          <% if(pageNum < pages){ %>
                          <li class="page-item"><a class="page-link" href="/shop?page=<%= pageNum + 1 %>">Next</a></li>
                          <% } %>
                        </ul>
                      </nav>
                  </div>
              </div>
          </div>
          </div>
          <!-- Shop Product End -->
      </div>
  </div>
  <script>

      const checkboxes = document.querySelectorAll('input[type="checkbox"][name="categories"]');
      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
          if (checkbox.checked) {
            checkboxes.forEach((otherCheckbox) => {
              if (otherCheckbox !== checkbox) {
                otherCheckbox.checked = false;
              }
            });
          }
        });
      });
  
  
  
      function toggleFilterProducts(categoryId, checkbox) {
        if (checkbox.checked) {
          console.log(`Selected category id: ${categoryId}`);
          $('.product[data-category="' + categoryId + '"]').show();
        } else {
          console.log(`Deselected category id: ${categoryId}`);
          $('.product[data-category="' + categoryId + '"]').hide();
        }
        // make an AJAX request to the server
        $.ajax({
          type: 'GET',
          url: '/filter/' + categoryId,
          success: function (response) {
            console.log(response);
            var products = response;
            var html = '';
  
            products.forEach(function (product, index) {
              if (index % 3 === 0) {
                html += '<div class="row">';
              }
  
              html += `
              <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="product-item bg-light mb-4">
                          <div class="product-img position-relative overflow-hidden d-flex align-items-center justify-content-center" style="height: 330px; padding: 10px;">
                            <img class="img-fluid product-image" src="/uploads/${product.images[0] }" alt="" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                            <div class="product-action">
                              <a class="btn btn-outline-dark btn-square"  onclick="addToCart('${product._id }','${ product.stockQuantity }')"><i class="fa fa-shopping-cart"></i></a>
                              <a class="btn btn-outline-dark btn-square"  onclick="addToWishlist(event,'${ product._id }')"><i class="far fa-heart"></i></a>
                              <a class="btn btn-outline-dark btn-square" href="/product-view/${product._id }"><i class="fa fa-search"></i></a>
                            </div>
                          </div>
                          <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href=""> ${ product.name }</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                              <h5>&#8377;${product.price }</h5>
                              <h6 class="text-muted ml-2"><del>&#8377;${product.mrp }</del></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                              ${ product.offer }
                          </div>
                         
                              <div class="d-flex align-items-center justify-content-center mb-1">  ${ product.stockQuantity } items left in stock </div>
                          
                          </div>
                          
                        </div>
                      </div>
    `;
  
              if ((index + 1) % 3 === 0 || (index + 1) === products.length) {
                html += '</div>';
              }
            });
  
  
            // Add some margin between the card containers
            $('.card').css('margin-bottom', '30px');
  
  
  
  
  
  
  
            // update the contents of the response container with the HTML
            $('#response-container').html(html);
          },
          error: function (xhr, status, error) {
            // handle errors
            console.log(error);
          }
        });
      }
  
  
      function filterProducts(subcategoryId) {
        console.log('Clicked checkbox ID:', subcategoryId);
  
        // Your AJAX code to filter products based on the subcategory ID
        // ...
        $.ajax({
          url: `/filterSub/${subcategoryId}`,
          method: 'GET',
          data: { subcategoryId: subcategoryId },
          success: function (data) {
            // Clear previous results
            
            console.log('subcategory selectio')
            const container = document.getElementById('product-container');
            container.innerHTML = '';
  
            // Loop through filtered products and create card elements
            for (let i = 0; i < data.length; i++) {
              const product = data[i];
              const card = `
              <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="product-item bg-light mb-4">
                          <div class="product-img position-relative overflow-hidden d-flex align-items-center justify-content-center" style="height: 330px; padding: 10px;">
                            <img class="img-fluid product-image" src="/uploads/${product.images[0] }" alt="" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                            <div class="product-action">
                              <a class="btn btn-outline-dark btn-square"  onclick="addToCart('${product._id }','${ product.stockQuantity }')"><i class="fa fa-shopping-cart"></i></a>
                              <a class="btn btn-outline-dark btn-square"  onclick="addToWishlist(event,'${ product._id }')"><i class="far fa-heart"></i></a>
                              <a class="btn btn-outline-dark btn-square" href="/product-view/${product._id }"><i class="fa fa-search"></i></a>
                            </div>
                          </div>
                          <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href=""> ${ product.name }</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                              <h5>&#8377;${product.price }</h5>
                              <h6 class="text-muted ml-2"><del>&#8377;${product.mrp }</del></h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                              ${ product.offer }
                          </div>
                         
                              <div class="d-flex align-items-center justify-content-center mb-1">  ${ product.stockQuantity } items left in stock </div>
                          
                          </div>
                          
                        </div>
                      </div>
      `;
              container.innerHTML += card;
            }
          },
        });
      }
      function handleSubcategoryCheckboxClick(checkbox) {
        const checkboxes = document.getElementsByName('subcategories');
        for (let i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i] !== checkbox) {
            checkboxes[i].checked = false;
          }
        }
        filterProducts(checkbox.value);
      }
  
  
  
      function handleCheckboxChange() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        let checked = false;
        checkboxes.forEach((checkbox) => {
          if (checkbox.checked) {
            checked = true;
            return;
          }
        });
        if (!checked) {
          location.reload();
        }
      }
  
  
    </script>
  
  
    <!-- Add the Bootstrap JS file -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>