<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Selected
            Products</span></h2>
    <div class="row px-xl-5">


       
            <% products.forEach((item) => { %>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                  <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden d-flex align-items-center justify-content-center" style="height: 330px; padding: 10px;">
                      <img class="img-fluid product-image" src="/uploads/<%= item.images[0] %>" alt="" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                      <div class="product-action">
                        <a class="btn btn-outline-dark btn-square"  onclick="addToCart('<%=item._id %>','<%=item.stockQuantity %>' )"><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square"  onclick="addToWishlist(event,'<%= item._id %>')"><i class="far fa-heart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="/product-view/<%=item._id %>"><i class="fa fa-search"></i></a>
                      </div>
                    </div>
                    <div class="text-center py-4">
                      <a class="h6 text-decoration-none text-truncate" href=""><%= item.name %></a>
                      <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>&#8377;<%= item.price %></h5>
                        <h6 class="text-muted ml-2"><del>&#8377;<%= item.mrp %></del></h6>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mb-1">
                        <%= item.offer %>
                    </div>
                    <% if(item.stockQuantity == 0){ %>
                        <div class="d-flex align-items-center justify-content-center mb-1 " style="color:rgb(219, 92, 46)" id="stockQuantity_<%= item._id %>">
                         product is out of stock
                        </div>
                        <% }else if(item.stockQuantity <= 10){ %>
                    <div class="d-flex align-items-center justify-content-center mb-1 " style="color:rgb(229, 60, 22)" id="stockQuantity_<%= item._id %>" >
                       only <%= item.stockQuantity %> left in stock
                    </div>
                    <% }else{ %>
                        <div class="d-flex align-items-center justify-content-center mb-1"  id="stockQuantity_<%= item._id %>">  <%= item.stockQuantity %> items left in stock </div>
                        <% } %>
                    </div>
                    
                  </div>
                </div>
              <% }); %>
    </div>
    </div>